.header {
  height: 293px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 0 50px 0;
}

.header__menu {
  margin-top: 135px;
  list-style: circle;
  display: flex;
  gap: 30px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  text-underline-offset: 4px;
}

.no-marker {
  list-style: none;
}

.with-marker {
  padding-left: 2px;
  margin-right: 2px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  margin-top: 92px;
}

.header__logo-image,
.about__logo-image {
  height: 100%;
}

.address {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
}

.header__address {
  max-width: 240px;
  justify-self: end;
  margin-top: 96px;
}

.header__address a,
.footer__address a {
  text-underline-offset: 4px;
}

.cover {
  margin-bottom: 184px;
  background: url("../images/cover.jpg") center / cover no-repeat;
  position: relative;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  background-color: #000000;
  inset: 0;
  opacity: 0.6;
  z-index: 1;
}

.cover__title {
  position: relative;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  z-index: 2;
  color: #ffffff;
  margin-bottom: 106px;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  display: block;
  margin-right: -0.3em;
}

.aligned-text {
  text-align: left;
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
  margin-bottom: 20px;
}

.aligned-text_right {
  text-align: right;
}

.cover__description-text {
  padding: 11px 0;
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  z-index: 2;
  color: #ffffff;
  word-spacing: 18px;
}

.cover__description-text span {
  margin-left: 2px;
}

.bet-button {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 256px;
  height: 51px;
  border: 1px solid white;
  z-index: 2;
  margin-left: 104px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.lots {
  margin: 0 24px 120px;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  color: #fff;
  position: relative;
  z-index: 0;
}

.card-link {
  text-decoration: none;
}

.card {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 2.8px;
  text-decoration-thickness: 1px;
  position: relative;
  z-index: 2;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  position: relative;
  z-index: 2;
}

.card-link,
.card {
  height: 100%;
}

.card_type_film {
  background: url("../images/card-lot-01.jpg") center / cover no-repeat;
}

.card_type_book {
  background: url("../images/card-lot-02.jpg") center / cover no-repeat;
}

.card_type_picture {
  background: url("../images/card-lot-03.jpg") center / cover no-repeat;
}

.lots__look-more-link {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  margin-left: 40px;
  margin-top: 32px;
}

.about {
  margin: 0 24px 181px;
  display: grid;
  grid-template-columns: 334px 1fr;
  padding-top: 36px;
}

.about__logo-column {
  height: 240px;
  width: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.about__logo {
  width: 148px;
  height: 114px;
}

.about__description-column {
  margin-left: 24px;
  margin-top: 105px;
}

.about__title {
  margin-bottom: 102px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text p {
  white-space: pre-line;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 0 50px;
  height: 180px;
}

.footer__address {
  max-width: 265px;
}

.footer__address a,
.footer__menu li a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.footer__menu {
  margin-top: 3px;
  list-style: none;
  min-width: 164px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  text-underline-offset: 4px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footer__menu li a {
  display: block;
}

.footer__menu li p,
.footer__menu li a {
  text-align: center;
}

.footer__social-list {
  justify-self: end;
  list-style: none;
  display: flex;
  gap: 48px;
}

.footer__social-list img {
  height: 48px;
  width: 48px;
}
